# Зависимости
node_modules
.pnp
.pnp.js

# Nuxt и сборка
.nuxt
.output
dist
.cache
.husky
.vercel

# Turborepo
.turbo
.turbo-cache

# Storybook
storybook-static
storybook-static/**/*
.storybook-static

# Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*storybook.log

# Локальные файлы среды
# .env
# .env.*
!.env.example

# Редакторы и IDE
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Тесты и покрытие
coverage
*.lcov
.nyc_output

# TypeScript
*.tsbuildinfo

# Временные файлы
.temp
.tmp
.history

# Кэш
.npm
.eslintcache 
.vercel
.cursorRules

# Nuxt dev/build outputs
.data
.nitro

# Misc
.fleet

# Папки редакторов и инструментов разработки
.vscode/
.idea/
*.sublime-*
